.row,
.container {
    max-width: 930px !important;
}
html {
    background-color: #488cff;
}
#blockpass-kyc-connect{
    width: auto;
    background-color: #488cff;
    font-size: 16px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    line-height: 32px;
    cursor: pointer;
    border: 0;
    margin: 60px auto;
    padding: 15px;
}
#blockpass-kyc-connect img {
    margin-right: 10px;
    display: inline;
}
a, a:hover, a:visited{
    color:#488cff !important;
}

.main-logo {
    margin-top: 22px;
    width: 80px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.main-title {
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    margin-bottom: 20px;
}
#service-name {
    max-width: 700px;
    display: block;
    margin: auto;
}

.main-subtitle1 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 30px;
}

.main-subtitle2 {
    font-size: 18px;
    margin-bottom: 80px;
    margin-left: 30px;
    margin-right: 30px;
}

.environment{
    font-size: 10px;
}

.top-icon {
    width: 45px;
    margin-bottom: 25px;
}

.store-icon {
    margin-bottom: 10px;
    margin-left: 0px;
    width:150px;
}

.main-icon {
    margin-bottom: -20px;
    width: 70px;
    float: left;
    
}

.icon-sub {
    font-size: 12px;
    margin-bottom: 10px;
    text-align: left;
    height: 70px;
    padding-top: 17px;
}

.step-number {
    font-size: 12px;
    margin-bottom: 0;
    border-bottom: 1px solid black;
    width: 35px;
    margin: 0 20px -10px;
    text-align: left;
    padding-left: 6px;
}


#blockpass-connect {
    margin: 60px 0;
}

.container-form {
    position: relative;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: white;
    display: inline-block;
}

.container-form-inner {
    position: relative;
    background-color:#eee;
    z-index: 10;
    margin: auto;
    padding: 15px;
}

.container-qrcode {
    position: relative;
    z-index: 10;
    background-color: white;
    padding: 15px;
}

.qrcode {
    background-color: black;
    text-align: center;
    width: 290px;
    height: 290px;
    margin: auto;
}

.black-square {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: black;
}

.stop-left {
    top: -10px;
    left: -10px;
}

.stop-right {
    top: -10px;
    right: -10px;
}

.sbottom-left {
    bottom: -10px;
    left: -10px;
}

.sbottom-right {
    bottom: -10px;
    right: -10px;
}


.name-container {
    background-color: transparent;
    border: 0;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    color: black;
    margin-bottom: 100px;
}

.footer-text {
    font-size: 12px;
}

.mobile-user-only{
    display: none;
}

#blockpass-app-link {
    display: inline-block;
    color:black;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px
}

#welcome {
    text-align:center; 
    display:none; 
    background-color:transparent;
}
/* Responsive */

@media (max-width: 615px) {
    .main-title {
        font-size: 20px;
    }
    .name-container {
        font-size: 30px;
    }
    .black-square {
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: black;
    }
    .mobile-user-only{
        display: block;
    }
}